{% extends "base.html" %} {% block content %}
<div class="card">
    <h1>Edit post</h1>
    <form class="form" method="post">
        <div class="input-group-newpost">
            <label class="newpost-label">Subject</label>
            <input type="text" name="subject" value="{{subject}}">
        </div>
        <div class="input-group-newpost">
            <label class="newpost-label">Content</label>
            <textarea class="content-text" name="content">{{content}}</textarea>
        </div>
</div>
<div class="error">
    {{error}}
</div>
<button type="submit">Edit Post</button>
</form>
</div>
{% endblock %}
