{% extends "base.html" %} {% block content %}
<div class="card">
    <h1>New Post</h1>
    <form class="form" method="post">
        <div class="form-elements-newpost">
            <div class="input-group-newpost">
                <label class="newpost-label">Subject</label>
                <input type="text" name="comsubj" value="{{comsubj}}">
            </div>
            <div class="input-group-newpost">
                <label class="newpost-label">Content</label>
                <textarea class="content-text" name="combody">{{combody}}</textarea>
            </div>
        </div>
        <div class="error">
            {{error}}
        </div>
        <button type="submit">Submit Blog</button>
    </form>
</div>
{% endblock %}