<div class="post">
    <div class="post-heading">
        <div class="post-title">
            <a class="login-link" href="/blog/{{p.key().id()}}">{{p.subject}}</a>
        </div>
        <div class="post-date">
            {{p.created.strftime("%b %d, %Y")}}
        </div>
    </div>
    <hr class="hr-fix" />
    <div class="post-content">
        {{p._render_text | safe}}
    </div>
    <a href="/blog/{{p.key().id()}}/comment">Add a comment</a>
    {% for c in comments %} {{ c.combody | safe}}
    <br></br>
    {% endfor %}
</div>
